* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar start  */
header {
    position: fixed;
    width: 100%;
    z-index: 111;
    max-width: 1440px;
}
nav.navbar {
    width: 100%;
    height: 70px;
    position: absolute;
    background: rgba(255, 192, 1, 0.8);
    z-index: 2;
}

.navlist {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding: 0 40px 0 20px;
    gap: 56px;
}

.navlist-item-link {
    text-decoration: none;
    color: #1E8DAE;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
}

/* navbar end  */

/* hero slider start  */
.main-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow-x: clip;
}

.hero-slider .slick-dots button {
    font-size: 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: #D1AF5D;
}

.hero-slider .slick-dots .slick-active button {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 4px solid #d1af5d;
}

.hero-slider .slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 4px;
}

.hero-slider .slick-dots {
    position: absolute;
    bottom: -20%;
    z-index: 3;
    left: 36%;
    transform: rotate(-30deg);
}

.logo {
    display: flex;
    top: 85px;
    position: absolute;
    left: 40px;
    z-index: 2;
}

.hero-heading {
    position: absolute;
    top: 80%;
    z-index: 2;
    width: 324px;
    font-size: 44px;
    left: 40px;
    line-height: 1.3;
}

/* about us  */
.about-main {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow-x: clip;
}

.hero-left-bacground {
    background: #fff;
    position: absolute;
    width: 100%;
    top: -500px;
    height: 700px;
    z-index: 1;
    transform: rotate(40deg);
    left: -50%;
}

.about-us {
    background: #FFC001;
    width: 250%;
    position: absolute;
    top: -150px;
    height: 900px;
    z-index: 2;
    transform: rotate(-30deg);
    left: -50%;
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.about-head-and-para {
    position: absolute;
    right: 40px;
    z-index: 3;
    text-align: center;
    width: 600px;
    top: -100px;
}

.about-heading, .social-heading, .service-heading, .contact-heading {
    font-size: 130px;
    font-weight: 400;
    opacity: 0.05;
    letter-spacing: -4px;
}

.about-para, .service-para, .contact-para {
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 1.7;
    margin-top: -45px;
}

.about-list-content {
    position: absolute;
    z-index: 3;
    left: 60%;
    top: 300px;
    transform: translateX(-50%);
    width: max-content;
}

.about-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 24px;
    margin-bottom: 80px;
}

.about-list-item span {
    font-size: 30px;
    font-weight: 600;
    margin-right: 40px;
}

.button {
    width: 190px;
    height: 50px;
    border: none;
    font-size: 15px;
    color: #fff;
    background: #218CAC;
    cursor: pointer;
    border: 2px solid #218CAC;
    transition: 0.3s ease-in-out;
}
.button:hover {
    color: #218CAC;
    background: #fff;
}

.about-images-scroll {
    position: absolute;
    left: 11%;
    top: -34%;
    transform: rotate(30deg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    gap: 6px;
    overflow: scroll;
    height: 2000px;
}

/* social and testimonial  */
.social-and-testimonial {
    position: relative;
    color: #000;
    font-size: 40px;
    height: 1500px;
    background: #fff;
    width: 100%;
    z-index: 0;
}

.testimonial-main {
    width: 100%;
    max-width: 720px;
    position: absolute;
    right: 100px;
    bottom: 120px;
    z-index: 1;
}

.testimonial-main p {
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 300;
    padding-left: 70px;
}

.testimonial-main h5 {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.testi-slider-arrow {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.prev,
.next {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.testi-bg-circle {
    position: absolute;
    width: 600px;
    height: 500px;
    background: rgba(255, 192, 1, 0.17);
    bottom: 40px;
    left: 15%;
    border-radius: 50%;
}

.testimonial-main p img {
    margin-bottom: 10px;
    margin-left: -70px;
    width: 70px;
}

/* social media  */
.social-main {
    position: absolute;
    background: #FFC001;
    width: 180%;
    height: 350px;
    z-index: 0;
    bottom: -350px;
    left: -290px;
    transform: rotate(25deg);
}
.social, .social-heading {
    position: absolute;
    right: 40%;
    bottom: 47%;
    transform: translateY(50%) rotate(-25deg);
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: end;
}
.social-icon {
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}
.social-icon p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.social-icon p:hover{
    color: #315951;
}
.social-border {
    height: 2px;
    width: 250px;
    background: #fff;
    position: absolute;
    top: 91px;
    transform: rotate(-23deg);
    left: -10px;
}
.twitter {
    margin-right: -40px;
}
.social-heading {
    right: 56%;
    bottom: 52%;
    font-size: 120px;
}

/* services  */
.service-head-and-para {
    width: 600px;
    text-align: center;
    margin-top: 250px;
    margin-left: 40px;
}
.service-item {
    background: #FFF4D4;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    gap: 20px;
}
.service-item-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.service-item-para {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.7px;
}
.service-item-know-more-btn {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.service-item-know-more-btn:hover {
    transform: translateX(5px);
}
.services-list {
    display: flex;
    padding: 80px 20px;
    justify-content: center;
    gap: 40px;
}
.service-btn {
    margin-left: 40px;
}

/* contact us  */
.contact-yellow-border {
    width: 2000px;
    height: 300px;
    background: #FFC001;
    transform: rotate(-13deg);
    margin-left: -300px;
    margin-top: 50px;
}
.contact-us {
    width: 700px;
    margin-left: auto;
    padding: 20px;
    text-align: center;
}

.contact-inputs {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 50px;
}
.contact-input {
    width: 300px;
    height: 50px;
}
.contact-input input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1.5px solid #333;
}
.contact-input input::placeholder{
    color: #c5c5c5;
    letter-spacing: 1px;
    
}

/* footer  */
footer.footer {
    background: #FFC001;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
}
